data/
*/data
*/dogs_vs_cats/
*/archive/
6_NewCourse/dogs_vs_cats/
*/dogs_vs_cats
*/archive
*/archive.zip
*/acrchive/*
*/UAVDT-processed
*/runs
*/dataset
*/Pipeline/dataset
*/Pipeline/archive.zip
*/Pipeline/__pycache__
*/Pipeline/runs

